<div class='grid-container'>
    <div class='blocks-container'>
        <ng-container *ngFor='let block of [].constructor(3)'>
            <div class="block-container"></div>
        </ng-container>
    </div>
    <div class='blocks-container'>
        <ng-container *ngFor='let block of [].constructor(3)'>
            <div class="block-container"></div>
        </ng-container>
    </div>
    <div class='blocks-container'>
        <ng-container *ngFor='let block of [].constructor(3)'>
            <div class="block-container"></div>
        </ng-container>
    </div>

</div>
