.blocks-container {
    max-width: 630px;
    display: flex;
    flex-wrap: wrap;
}

.block-container {
    min-width: 200px;
    height: 200px;
    border: 1px solid maroon;
    cursor: pointer;
}

.red {
    background-color: cornflowerblue
}

.green {
    background-color: darksalmon;
}

.button-style {
    line-height: 30px;
    font-size: larger;
    background-color: coral;
    margin: 5px;
}

.text-style {
    font: normal small-caps normal 16px/1.4 Georgia;;
    color: cornflowerblue;
}
